<html>

<head>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <title>Ironbeers</title>
</head>

<body>
  {{>navbar}}
  {{{body}}}
  {{{footer}}}
  {{!-- {{{>buttons}}} --}}
</body>

</html>